doctype html
html
  head
    title Procrastigator
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='shortcut icon' type='image/x-icon' href='/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/reflect-theme.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://cdn.reflect.io/latest/reflect.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js")
    script(src="./js/main.js")
  body
    if loggedIn
      a(href="/supply") Sleep Tracker
      br
      a(href="/logout") Logout
      //- img.avatar.icon.w3-bar-item(src=user.picture)
    else
      a( href="/login" ) Login
    block content
