body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
}

.hidden {
  display: none;
}

.leftnav{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 230px; /* Width of leftnavigation frame */
  height: 100%;
  background: #eee;
  text-align: center;
  padding: 20px;
}

.leftnav-header {
  margin-bottom: 20px;
}

.topnav {
  background: #d3d3d3;
  position: fixed;
  width: calc(100% - 230px);
  height: 60px;
  z-index: 2;
  padding-left: 25px;
  line-height: 20px;
  padding-top: 16px;
  padding-bottom: 20px;
}

.topnav label.primary {
  color: white;
  display: inline;
  text-transform: uppercase;
  padding-right: 15px;
  font-size: 14px;
  line-height: 28px;
}

.rightnav .form-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.rightnav .form-wrapper h3 {
  color: #6D7A87;
  float: left;
}

.rightnav .form-wrapper .submit-btn {
  margin-top: 20px;
  float: right;
  color: #6D7A87;
  border: 1px solid gold;
}

.rightnav .form-wrapper .submit-btn:hover {
  background: gold;
}

.rightnav .form-group {
  padding-top: 10px;
  clear: both;
}

.rightnav .form-group.sleep-group h4 {
  color: #F76161;
}

.rightnav .form-group.social-group h4 {
  color: #618FF7;
}

.rightnav .form-group.work-group h4 {
  color: #a139ff;
}

.rightnav .slider {
  width: 100% !important;
}

.rightnav .slider-wrapper {
  padding: 10px 10px 0;
}

.rightnav .slider .slider-tick {
  width: 14px;
  height: 14px;
  top: 3px;
}

.rightnav .slider .slider-selection {
  background: rgba(109, 122, 135, .8);
}

.rightnav .slider .slider-tick.in-selection {
  background: #6D7A87;
}

.rightnav .slider .slider-handle {
  background: #6D7A87;
}

.goal-value {
  font-size: 16px;
  font-weight: bold;
}

.main-content .btn {
  border-radius: 20px;
  padding: 4px 15px;
  border: none;
  background-color: rgba(255,255,255,.8);
  color: #F76161;
  outline: none;
}

.main-content .btn:hover {
  background-color: #F76161;
  color: white;
}

.main-content .btn.active,
.main-content .btn.active:hover {
  background-color: #F76161;
  color: white;
}

.main-content .rightnav .btn-group {
  padding-top: 10px;
}

.topnav img {
  position: absolute;
  bottom: 10px;
  right: 25px;
}

.main-content{
  position: fixed;
  top: 0;
  left: 230px; /* Set this to the width of the leftnavigation frame */
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #fbfbfb;
}

.main-content .column {
  display: inline-block;
  vertical-align: top;
  padding: 80px 10px 30px;
}

.report {
  max-width: 1600px;
  width: 70%;
}

.rightnav {
  width: 30%;
  background-color: #eee;
}

.logo {
  width: 75%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.leftnav .menu {
  margin: 0;
  padding: 0;
  text-align: left;
}

.leftnav .menu .btn {
  background: transparent;
  border: none ;
  outline: 0;
  margin:0 -1000px;
  padding: 10px 1000px;
  display: block;
}

/*right now these are basically cascading. clean it up.*/
.leftnav .menu .social-btn.btn:hover {
  background: #618FF7;
  color: white;
}

.leftnav .menu .work-btn.btn:hover {
  background: #a139ff;
  color: white;
}

.leftnav .menu .btn.active {
  background: #F76161;
  color: white;
}

.btn.active.on-sibling-hover {
  background-color: #f19d9d !important;
  color: white;
}


/*IE6 fix*/
* html body{
  padding: 0 0 0 230px; /* Set the last value to the width of the leftnavigation frame */
}

* html main{
  height: 100%;
  width: 100%;
}

/*ReflectUI*/
.viz-comparison-value-up {
  color: red;
}

.viz-comparison-value-up svg {
  fill: red;
}

.viz-comparison-value-down {
  color: green;
}

.viz-comparison-value-down svg {
  fill: green;
}

/*.viz-header .viz-headline .viz-title {
  line-height: 25px;
}

.viz-multi-kpi .viz-kpi-metric {
  padding: 16px;
}

.viz-row.viz-header {
  padding-left: 12px !important;
}

.viz-multi-kpi .reflect-charts-svg .reflect-charts-area-path {
  fill: #FD3467;
  fill-opacity: .2;
}

.viz-multi-kpi .reflect-charts-svg .reflect-charts-line-path {
  stroke: #FD3467;
}*/
